.recommendation {
    display: flex;
    gap: 20px;
}

.thumbnailImg img {
    width: 150px;
    height: 94px;
    border-radius: 10px
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.viewDetails {
    font-weight: 400;
    color: #828282;
}

.views {
    display: flex;
    gap: 5px;
    align-items: center;
}

.details p {
    font-size: 16px;
}